<div class="play-ground" fxLayout="column">
    <div fxFlex="100" fxFlexAlign="start center" fxLayout="column" fxLayoutAlign="start center">
        <h1>Match Info</h1>
        <h3><strong>{{battingTeamName}}</strong> vs <strong>{{bowlingTeamName}}</strong>
        </h3>
        <h4>
            <strong>{{tossWinnerName}}</strong> has won the toss and elected to
            {{playingOptions[tossWinnerBattingFirst]}}
        </h4>
        <div *ngIf="!firstInningsFinish || !secondInningsFinish" fxLayout="column" fxLayoutAlign="center center">
            <h5 class="display-name">Batting: {{battingTeamName}}</h5>
            <h5 class="display-name">Bowling: {{bowlingTeamName}}</h5>
        </div>
        <h5>Date: {{today | date: 'fullDate'}}</h5>
        <div *ngIf="firstInningsFinish && !secondInningsFinish" fxLayout="column" fxLayoutAlign="start center">
            <h4 class="display-name">First Innings Over!</h4>
            <h4 class="display-name">Total run of {{bowlingTeamName}}: {{currentMatchInfo.totalRunsInFirstInnings}}</h4>
        </div>
        <h6 *ngIf="!firstInningsFinish || !secondInningsFinish">Total Run of {{battingTeamName}}: {{currentTotalRun}}</h6>
        <button (click)="IncreaseRun()" [disabled]="disabled" color="primary" mat-raised-button>Bowl</button>
    </div>
    <div *ngIf="!firstInningsFinish || !secondInningsFinish" class="commentary" fxLayout="column">
        <div>
            <h6 fxFlex="50"  style="text-align: center;">Over</h6>
            <h6 fxFlex="50"  style="text-align: center;">Run</h6>
        </div>
        <div *ngFor="let ball of Balls" fxFlex="100" fxLayout="row" fxLayoutAlign="center start">
            <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                {{ball.over}}
            </div>
            <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                {{ball.run}}
            </div>
        </div>
    </div>
    <div *ngIf="firstInningsFinish && secondInningsFinish" fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1>Match Finished Welldone</h1>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3>{{currentMatchInfo.Result}}</h3>
                <h4 class="display-name">{{battingTeamName}} scored: {{currentMatchInfo.totalRunsInSecondInnings}}</h4>
                <h4 class="display-name">{{bowlingTeamName}} scored: {{currentMatchInfo.totalRunsInFirstInnings}}</h4>
            </div>
            <h3>Full Score</h3>
        </div>
        <div class="commentary" fxLayout="column">
            <div fxFlex="100" fxFlexAlign="center">
                <h1>{{bowlingTeamName}}</h1>
            </div>
            <div>
                <h6 fxFlex="50" style="text-align: center;">Over</h6>
                <h6 fxFlex="50" style="text-align: center;">Run</h6>
            </div>
            <div *ngFor="let ball of currentMatchInfo.firstInnings" fxFlex="100" fxLayout="row"
                fxLayoutAlign="center start">
                <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                    {{ball.over}}
                </div>
                <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                    {{ball.run}}
                </div>
            </div>
        </div>
        <div class="commentary" fxLayout="column">
            <div fxFlex="100" fxFlexAlign="center">
                <h1>{{battingTeamName}}</h1>
            </div>
            <div>
                <h6 fxFlex="50" style="text-align: center;">Over</h6>
                <h6 fxFlex="50" style="text-align: center;">Run</h6>
            </div>
            <div *ngFor="let ball of currentMatchInfo.secondInnings" fxFlex="100" fxLayout="row"
                fxLayoutAlign="center start">
                <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                    {{ball.over}}
                </div>
                <div class="tableBorder" fxFlex="50" fxLayoutAlign="center start">
                    {{ball.run}}
                </div>
            </div>
        </div>
    </div>
</div>
