<div class="play-ground" fxLayout="column">
    <div fxFlex="100" fxFlexAlign="start center" fxLayout="column" fxLayoutAlign="start center">
        <h1>Lets Play Cricket</h1>
        <h3><strong>{{battingTeamName}}</strong> vs <strong>{{bowlingTeamName}}</strong>
        </h3>
        <h4>
            <strong>{{tossWinnerName}}</strong> has won the toss and elected to
            {{playingOptions[tossWinnerBattingFirst]}}
        </h4>
        <div *ngIf="!firstInningsFinish || !secondInningsFinish" fxLayout="column" fxLayoutAlign="center center">
            <h5 class="display-name">Batting: {{battingTeamName}}</h5>
            <h5 class="display-name">Bowling: {{bowlingTeamName}}</h5>
        </div>
        <h5>Date: {{today | date: 'fullDate'}}</h5>
        <div *ngIf="firstInningsFinish && !secondInningsFinish" fxLayout="column" fxLayoutAlign="start center">
            <h4 class="display-name">First Innings Over!</h4>
            <h4 class="display-name">Total run of {{bowlingTeamName}}: {{currentMatchInfo.totalRunsInFirstInnings}}</h4>
        </div>
        <h6 *ngIf="!firstInningsFinish || !secondInningsFinish">Total Run of {{battingTeamName}}: {{currentTotalRun}}</h6>
        <button [disabled]="disabled" mat-raised-button color="primary" (click)="IncreaseRun()">Bowl</button>
    </div>
    <div fxLayout="column" class="commentry" *ngIf="!firstInningsFinish || !secondInningsFinish">
        <div>
            <h6 fxFlex="50"  style="text-align: center;">Over</h6>
            <h6 fxFlex="50"  style="text-align: center;">Run</h6>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start" *ngFor="let ball of Balls">
            <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                {{ball.over}}
            </div>
            <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                {{ball.run}}
            </div>
        </div>
    </div>
    <div *ngIf="firstInningsFinish && secondInningsFinish" fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1>Match Finished Welldone</h1>
            <div fxLayout="column" fxLayoutAlign="center center">
                <h3>{{currentMatchInfo.Result}}</h3>
                <h4 class="display-name">{{battingTeamName}} scored: {{currentMatchInfo.totalRunsInSecondInnings}}</h4>
                <h4 class="display-name">{{bowlingTeamName}} scored: {{currentMatchInfo.totalRunsInFirstInnings}}</h4>
            </div>
            <h3>Full Score</h3>
        </div>
        <div fxLayout="column" class="commentry">
            <div fxFlex="100" fxFlexAlign="center">
                <h1>{{bowlingTeamName}}</h1>
            </div>
            <div>
                <h6 fxFlex="50" style="text-align: center;">Over</h6>
                <h6 fxFlex="50" style="text-align: center;">Run</h6>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start"
                *ngFor="let ball of currentMatchInfo.firstInnings">
                <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                    {{ball.over}}
                </div>
                <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                    {{ball.run}}
                </div>
            </div>
        </div>
        <div fxLayout="column" class="commentry">
            <div fxFlex="100" fxFlexAlign="center">
                <h1>{{battingTeamName}}</h1>
            </div>
            <div>
                <h6 fxFlex="50" style="text-align: center;">Over</h6>
                <h6 fxFlex="50" style="text-align: center;">Run</h6>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start"
                *ngFor="let ball of currentMatchInfo.secondInnings">
                <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                    {{ball.over}}
                </div>
                <div fxFlex="50" fxLayoutAlign="center start" class="tableBorder">
                    {{ball.run}}
                </div>
            </div>
        </div>
    </div>
</div>