.play-ground {
  background-color: lightgray;
  margin: 50px 200px;
}

.title {
  font-size: 50px;
}

table {
  width: 100%;
}

.commentry {
  margin: 10px;
  padding: 10px;
}

.tableBorder {
    box-shadow: 0px -1px white;
    padding: 5px;
}

.display-name {
    margin: 0px;
}