.play-ground {
  //background-color: lightgray;
  margin: 50px 0px;
}

.title {
  font-size: 50px;
}

table {
  width: 100%;
}

.commentary {
  margin: 10px;
  padding: 10px;
}

.tableBorder {
    box-shadow: 0px -1px white;
    padding: 5px;
}

.display-name {
    margin: 0px;
}

:host ::ng-deep .mat-tab-label {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

body {
    background-color: rgba(136, 84, 208,1.0);
}
