<div fxLayout="column" fxLayoutAlign="start start" class="instruction" fxLayoutGap="60px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px" fxFill>
        <span class="greeting">Welcome to the Cricket Game website</span>
        <!-- <span>For the rules <a class="button" href="home/#rules">click here</a></span> -->
    </div>
    <div id="rules">
        <h6>Rules:</h6>
        <div>This is a simple cricket game based on random event. The rules are as below:
            <ul>
                <li>Choose two teams. The first one is your team and the second one is your opponent team.</li>
                <li>Choose how many overs match it gonna be. There are 3 options currently available.
                    <ol>
                        <li><strong>2</strong> overs match.</li>
                        <li><strong>5</strong> overs match.</li>
                        <li><strong>10</strong> overs match.</li>
                    </ol>
                </li>
                <li>Time to checkout the team players.
                    <ol>
                        <li>If it's a 2 overs match then every team will consists of 5 players</li>
                        <li>If it's a 5 overs match then every team will consists of 7 players</li>
                        <li>If it's a 10 overs match then every team will consists of 11 players</li>
                    </ol>
                </li>
                <li>For the <strong>toss</strong> choose one of the options of <strong>Head</strong> or <strong>Tail</strong>.</li>
                <li>Now spin the coin.</li>
                <li>If you won the toss then choose whether you want bowl to first or bat.</li>
                <li>If opponent own the toss then they will choose whether they want to bowl first or bat.</li>
                <li>If you are the bowling team, press a button called <strong>BOWL</strong> to bowled a ball.</li>
                <li>If you are batting team, press a button called <strong>HIT</strong> to face a ball.</li>
                <li>In the live-commentary section you will see the description of every ball bowled by the bowler.</li>
                <li>In the scorecard tab you will see scorecard of the game.</li>
                <li>For every ball bowled you will see one of the verdict of:
                    <ul>
                        <li>[0, 1, 2, 3, 4, 6]: The number indicates how many runs were made in a particular ball.</li>
                        <li>W: Fall of a wicket.</li>
                        <li>Wd: Wide delivery.</li>
                        <li>N: No ball. The next ball will be a free hit.</li>
                        <li>2Wd: 2 runs were made in a wide delivery.</li>
                        <li>3Wd: 3 runs were made in a wide delivery.</li>
                        <li>4Wd: 4 runs were made in a wide delivery.</li>
                        <li>5Wd: 5 runs were made in a wide delivery.</li>
                        <li>1N: Extra 1 runs were made in a No ball delivery. total run scored: 2</li>
                        <li>2N: Extra 2 runs were made in a No ball delivery. total run scored: 3</li>
                        <li>3N: Extra 3 runs were made in a No ball delivery. total run scored: 4</li>
                        <li>4N: Extra 4 runs were made in a No ball delivery. total run scored: 5</li>
                        <li>6N: Extra 6 runs were made in a No ball delivery. total run scored: 7</li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
