.squads {
    margin-left: 50px;
    margin-top: 20px;
    background-color: rgba(136, 84, 208,1.0);
}

.sub-header {
    background-color: gray;
    color: white;
    padding: 8px;
    width: 200px;
    text-transform: uppercase;
}

.w-200 {
    width: 200px;
}

.pl-8 {
    padding-left: 8px;
}
