<div style="background: #C0BCBC; padding: 0" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFill>
        <h5>Mark Your Own Team</h5>
    </div>
    <mat-radio-group [(ngModel)]="favouriteTeam" fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        <div *ngFor="let country of selectedTeams" fxLayout="column" fxLayoutAlign="center center">
            <img class="img" src={{country.flag_url}} alt={{country.name}}>
            <mat-radio-button [value]="country.name">{{country.name}}</mat-radio-button>
        </div>
    </mat-radio-group>
    <span>Your Team: <strong>{{favouriteTeam}}</strong></span>
    <div fxLayout="column" fxLayoutAlign="start center" fxFill class="mt-20">
        <h5>Number of overs to be played:</h5>
    </div>
    <mat-radio-group [(ngModel)]="overs" fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        <div *ngFor="let over of OVER" fxLayout="column" fxLayoutAlign="center center">
            <mat-radio-button [value]="over">{{over}}</mat-radio-button>
        </div>
    </mat-radio-group>
    <span>Over: <strong>{{overs}}</strong></span>
    <div style="margin-top: 20px;">
        <button mat-button (click)="onCancel()">Back</button>
        <button [disabled]="favouriteTeam === 'Not Marked Yet' || overs === 0" mat-raised-button color="primary" (click)="onSave()">Next</button>
    </div>
</div>
