<mat-toolbar color="primary" class="main-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
    <p class="title" fxFlexAlign="center center">Cricket Game</p>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <a mat-button routerLink="home" routerLinkActive="active" class="items">Home</a>
        <a mat-button routerLink="home/teams" routerLinkActive="active" class="items">Start a Match</a>
        <a mat-button routerLink="matches" routerLinkActive="active" class="items">Match History</a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
