
<div class="home-container" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center center" fxFill class="header">
        <h1 class="title font-family-poppins">Choose Two Teams</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" fxFill>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <ng-container *ngIf="allTeams && allTeams.length">
          <ng-container *ngFor="let team of allTeams; let i = index">
              <ng-container *ngIf="i < 5">
                  <mat-card fxLayoutGap="40px" class="box cursor-pointer" [ngClass]="{'highlight' : team.isSelected}" (click)="toggleChecked(team)">
                      <img class="img" src="{{team.flag_url}}" alt="{{team.name}}">
                      <span class="team_name">{{team.name}}</span>
                  </mat-card>
              </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <ng-container *ngIf="allTeams && allTeams.length">
          <ng-container *ngFor="let team of allTeams; let i = index">
            <ng-container *ngIf="i >= 5">
                <mat-card fxLayoutGap="40px" class="box cursor-pointer" [ngClass]="{'highlight' : team.isSelected}" (click)="toggleChecked(team)">
                    <img class="img" src="{{team.flag_url}}" alt="{{team.name}}">
                    <span class="team_name">{{team.name}}</span>
                </mat-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px" fxFill class="btn-submit" class="button-div">
        <button [disabled]="disabled" mat-raised-button color="primary" class="w-100" (click)="Submit()">Next</button>
        <button mat-button color="warn" class="w-100" (click)="ResetSelection()">Reset</button>
    </div>
</div>
