.home-container {
    background-color: lightsteelblue;
    // text-align: center;
}

.title {
    text-align: center;
    color: paleturquoise;
    text-transform: uppercase;
}

.teams-info {
    max-width: 250px;
    margin: 10px;
    padding: 10px;
}

// img {
//     width: 100%;
//     height: 120px;
//     object-fit: cover;
// }

.img {
    width: 150px;
    height: 100px;
    //border-radius: 50%;
    object-fit: cover;
}

.btn-submit button {
    width: 92px;
    min-width: 92px;
    max-width: 92px;
}

.box {
    width: 400px;
}

.highlight {
    background-color: rgba(150, 147, 0, 0.5);
}

.header {
    background-color: teal;
    padding: 20px;
    margin-bottom: 32px;
}

button {
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    line-height: 36px;
}

.button-div {
    margin-top: 30px;
    margin-bottom: 26px;
}

.team_name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
