.toss-container {
    background-color: lightgray;
    margin: 50px 200px;
    padding-bottom: 2px;
  }
  
  .img {
    width: 250px;
    height: 180px;
    padding: 10px;
  }
  .teams-info {
      max-width: 250px;
      margin: 70px;
      padding: 10px;
  }
  
  .btn-bottom {
      width: 1520px;
  }
  